/* Basic layout */
html, body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html {
  background-image: url('../images/bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #ddb58a;
}

.tn-content-wrapper {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.col-container {
  /* Aside & Section */
  aside:nth-of-type(1) {
    border-right: 1px solid #000000;
  }
  aside:nth-of-type(2) {

    border-left: 1px solid #000000;
  }
  aside, section {

    p {
      text-overflow: ellipsis;
    }
  }
}



/*  Links */
a {
  text-decoration: none;
  color: #000000;
}

/*  Images */
img {
  width: 100%;
  max-width: 100%;
}


/* Helper classes */
.tn-hidden {
  display: none;
}