@font-face {
  font-family: press_font;
  src: url(../fonts/OldNewspaperTypes.ttf);
}

h1,h2,h3,h4,h5,p,a,span {
  font-family: press_font;
}

h2 {
  font-size: 18px;
}
h3,h4,h5 {
  font-size: 16px;
}

p,a,span {
  font-size: 14px;
}


/* Header */

.tn-hdr-nav-opt a {
  font-size: 16px;
}

