@import 'header_mixins';

/* Header logo */
.tn-hdr-logo-container  {
  width: 25%;
  max-width: 25%;
  margin: 0 auto;
}

/* Navbar */
nav.tn-nav {
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  clear: both;

  .tn-hdr-nav-opt {
    @include calc_nav_opt_width(5);
    white-space: normal;
    display: inline-block;
    text-align: center;
    padding: 10px 0;

    a {
      width: 100%;
      height: 100%;
      display: block;
    }

  }

  .tn-hdr-nav-opt:hover {
    background-color: rgba(217,157,93,0.3);
  }
}

.tn-hdr-info {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;

  .tn-hdr-info-date, .tn-hdr-info-price {

    span {
      font-size: 20px;
    }
  }
  .tn-hdr-info-date  {
    text-align: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }
}

/*  */