@import 'header_mixins';

/* Header logo */
.tn-hdr-logo-container  {
  width: 30%;
  max-width: 30%;
  margin: 0 auto;
}

/* Navbar */
nav.tn-nav {
  width: 100%;
  max-width: 100%;
  white-space: nowrap;

  .tn-hdr-nav-opt {
    @include calc_nav_opt_width(5);
    white-space: normal;
    display: inline-block;
    text-align: center;
    padding: 10px 0;

  }
}

/*  */